<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <h1>Admin Dashboard</h1>
      <p class="lead">Welcome, <%= current_user.name %>!</p>
      
      <div class="row mt-4">
        <div class="col-md-3">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Total Users</h5>
              <p class="card-text display-4"><%= @users.count %></p>
              <%= link_to 'Manage Users', users_path, class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
        
        <div class="col-md-3">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Total Reservations</h5>
              <p class="card-text display-4"><%= @reservations.count %></p>
              <%= link_to 'Manage Reservations', reservations_path, class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
        
        <div class="col-md-3">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Total Tables</h5>
              <p class="card-text display-4"><%= @tables.count %></p>
              <%= link_to 'Manage Tables', tables_path, class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
        
        <div class="col-md-3">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Total Timeslots</h5>
              <p class="card-text display-4"><%= @timeslots.count %></p>
              <%= link_to 'Manage Timeslots', timeslots_path, class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
      </div>
      
      <div class="mt-4">
        <h2>Recent Reservations</h2>
        <% if @reservations.any? %>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>User</th>
                <th>Table</th>
                <th>Timeslot</th>
                <th>People</th>
                <th>Created At</th>
              </tr>
            </thead>
            <tbody>
              <% @reservations.order(created_at: :desc).limit(10).each do |reservation| %>
                <tr>
                  <td><%= reservation.id %></td>
                  <td><%= reservation.user.name %></td>
                  <td><%= reservation.table.name %></td>
                  <td><%= reservation.timeslot.date %> <%= reservation.timeslot.start_time.strftime('%H:%M') if reservation.timeslot.start_time %></td>
                  <td><%= reservation.num_people %></td>
                  <td><%= reservation.created_at.strftime('%Y-%m-%d %H:%M') %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <p>No reservations yet.</p>
        <% end %>
      </div>
      
      <div class="mt-4">
        <h2>Reservation Calendar</h2>
        <%= month_calendar do |date| %>
          <div class="day">
            <div class="date"><%= date.day %></div>
            <% reservations = @reservations_by_date[date] || [] %>
            <% if reservations.any? %>
              <% reservations.each do |res| %>
                <div class="reservation-item">
                  <strong><%= res.timeslot.start_time.strftime('%I:%M %p') rescue '' %></strong>
                  <%= link_to res.user.name, user_path(res.user) %> - <%= res.table.name %> (<%= res.num_people %>)
                </div>
              <% end %>
            <% else %>
              <div class="text-muted">No reservations</div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
