<h2>Users</h2>

<table border="1">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Role</th>
    <th>Actions</th>
  </tr>

  <% @users.each do |u| %>
    <tr>
      <td><%= u.name %></td>
      <td><%= u.email %></td>
      <td><%= u.phone %></td>
      <td><%= u.role %></td>
      <td>
        <%= link_to "Edit", edit_user_path(u) %> |
        <%= button_to "Delete", user_path(u), method: :delete,
            data: {
              action: 'confirm-modal#ask',
              confirm_modal_title: 'Delete User',
              confirm_modal_message: 'Are you sure?',
              confirm_modal_confirm_text: 'Delete',
              confirm_modal_confirm_class: 'btn btn-danger'
            } %>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to "Add New User", new_user_path %>
