<h2>Timeslots</h2>

<%= month_calendar do |date| %>
  <div class="day">
    <div class="date"><%= date.day %></div>

    <% timeslots = @timeslots_by_date[date] || [] %>
    <% if timeslots.any? %>
      <% timeslots.each do |t| %>
        <div class="timeslot">
          <strong><%= t.start_time.strftime("%I:%M %p") %> - <%= t.end_time.strftime("%I:%M %p") %></strong>
          <div class="actions">
            <%= link_to "Edit", edit_timeslot_path(t) %> |
            <%= button_to "Delete", timeslot_path(t), method: :delete, data: { confirm: "Are you sure?" } %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>

<%= link_to "Add Timeslot", new_timeslot_path %>
