<div class="center-page">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">New Timeslot</h2>

            <%= render "shared/error_messages", object: @timeslot %>

            <%= form_with model: @timeslot, local: true do |f| %>
              <% if @timeslot.table_id.present? %>
                <p>
                  <strong>Table:</strong>
                  Table #<%= @timeslot.table_id %>
                </p>
                <%= f.hidden_field :table_id %>
              <% end %>

              <p>
                <strong>Date:</strong><br>
                <%= f.date_field :date %>
              </p>

              <p>
                <strong>Start Time:</strong><br>
                <%= f.time_field :start_time %>
              </p>

              <p>
                <strong>End Time:</strong><br>
                <%= f.time_field :end_time %>
              </p>

              <p><%= f.submit "Create Timeslot", class: 'btn btn-primary' %></p>
            <% end %>
          </div>
          <div class="card-footer text-center">
            <%= link_to "Back", admin_dashboard_path, class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
