<!DOCTYPE html>
<html>
  <head>
    <%= full_title(yield(:title)) %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Restaurant Reservation">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
    <%= render 'layouts/nav_bar' %>
  
    </header>

    <main>
      <%= yield %>

     
    </main>
  </body>
</html>
